altgraph==0.17.4
customtkinter==5.2.0
darkdetect==0.8.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mypy==1.6.1
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.2
pandas==2.1.0
pandas-stubs==2.1.1.230928
prettytable==3.9.0
psutil==5.9.6
pyarrow==13.0.0
pyecharts==2.0.4
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
python-dateutil==2.8.2
pytz==2023.3.post1
simplejson==3.19.1
six==1.16.0
tkinterhtml==0.7
tomli==2.0.1
types-pytz==2023.3.1.1
typing_extensions==4.8.0
tzdata==2023.3
wcwidth==0.2.6
